:root {
  --primary-color: #2eb4d5;
  --sky-blue: #dbf8ff;
  --sky-blue-opacity: rgba(219, 248, 255, 0.3);
  --gray-color-1: #ebecef;
  --gray-color-2: #ddd;
  --gray-color-3: #f6f6f6;
  --gray-color-4: #585858;
  --gray-color-5: #333333;
  --gray-color-6: #646363;
  --gray-color-7-opacity: rgba(229, 229, 229, 0.6);
  --color-white: #fff;
  --border-color: #e5e7eb;
  --black-color: #000000;
  --black-color-opacity: rgba(0, 0, 0, 0.5);
  --red-color: red;
  --pink-color: rgb(225, 49, 84);
  --blue-color: rgb(48, 82, 136);
}

/* common */
@media (max-width: 499px) {
  .p-b-40-sp {
    padding-bottom: 40px;
  }
}

.primary-color {
  color: var(--primary-color);
}

.small-text {
  font-size: 12px;
  color: var(--gray-color-4);
}

.btn {
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-light {
  transition: all 0.5s;
  cursor: pointer;
}

.btn-light:hover {
  opacity: 0.7;
}

.height-50 {
  height: 50px;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-14 {
  line-height: 1.4;
}

.hover-underline {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.fsz-13 {
  font-size: 13px !important;
}

/* header */

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: var(--color-white);
  z-index: 100;
}

.header-container {
  margin: 0 auto;
  max-width: 1340px;
  align-items: center;
}

@media (max-width: 559px) {
  .header-container {
    justify-content: space-between;
  }
}

.logo {
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: var(--primary-color);
  cursor: pointer;
}

.user-icon {
  margin-right: 20px;
}

@media (min-width: 560px) {
  .search-sp {
    display: none;
  }
}

.search {
  display: flex;
  height: auto;
  align-items: center;
  position: relative;
}

@media (max-width: 559px) {
  .search {
    display: none;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

.search-input {
  width: 400px;
  max-width: 100%;
  height: 35px;
  border-radius: 30px;
  background: var(--gray-color-1);
  padding-right: 40px;
  padding-left: 40px;
  font-size: 14px;
}

.search-input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

@media (max-width: 559px) {
  .search-input {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.search-input-sp {
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  display: none;
}
.search-hover {
  padding-left: 3px;
  transition: all 1s;
}
.search-hover:hover .search-input-sp {
  display: block;
}

@media (min-width: 560px) {
  .search-input-sp {
    display: none;
  }
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--gray-color-2);
}

.display-none {
  display: none;
}

/* 全体設定 */
.layout {
  display: flex;
  max-width: 1340px;
  margin: 55px auto 0;
  justify-content: space-between;
}

@media (max-width: 499px) {
  .layout {
    padding-bottom: 40px;
  }
}

.only-sp-499 {
  display: none;
}

@media (max-width: 499px) {
  .only-sp-499 {
    display: block;
  }
}

@media (max-width: 499px) {
  .only-pc-499 {
    display: none;
  }
}

/* sidebar */
.sidebar {
  position: relative;
  /* background: var(--primary-color); */
  font-size: 20px;
  min-height: 100vh;
}

.sidebar-box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.sidebar-box li {
  margin-top: 15px;
}

.sidebar-l-w {
  width: 310px;
}

@media (max-width: 1100px) {
  .sidebar-l-w {
    width: 65px;
  }
}
@media (max-width: 499px) {
  .sidebar-l-w {
    display: none;
  }
}

.sidebar-left {
  /* background: var(--gray-color-1); */
  padding: 20px;
}

.sidebar-left li {
  display: flex;
  height: auto;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
}

.sidebar-left p {
  margin-left: 18px;
}
@media (max-width: 1100px) {
  .sidebar-left p {
    display: none;
  }
}

.side-icon {
  width: 25px;
  font-size: 24px;
  text-align: center;
}
.sidebar-r-w {
  width: 310px;
}
@media (max-width: 805px) {
  .sidebar-r-w {
    display: none;
  }
}

.sidebar-right {
  /* background: var(--gray-color-1); */
  height: 100vh;
  overflow-y: auto;
  padding-right: 20px;
}

.sidebar-right h3 {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-right-mt li {
  margin-top: 8px;
}

.top-post {
  transition: all 0.4s;
  cursor: pointer;
  padding: 2px;
}

.top-post:hover {
  background: var(--gray-color-7-opacity);
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.content {
  font-size: 13px;
  margin-top: 3px;
  color: var(--gray-color-4);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 表示する行数 */
  -webkit-box-orient: vertical; /* 縦方向に配置 */
  overflow: hidden; /* オーバーフローを隠す */
}

.sidebar-flex {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.sidebar-flex p {
  line-height: 1.2;
}

.post-user-detail-sp p {
  line-height: 1.3;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 499px) {
  .user-name {
    font-size: 13px;
  }
}

.post-history {
  font-size: 14px;
  color: var(--gray-color-4);
}

@media (max-width: 499px) {
  .post-history {
    font-size: 12px;
  }
}

.sidebar-b {
  margin-bottom: 80px;
}

.follow-btn {
  font-size: 14px;
  background: var(--primary-color);
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: bold;
  color: var(--color-white);
  white-space: nowrap;
  border: solid 1px var(--primary-color);
}

.unfollow-btn {
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 50px;
  font-weight: bold;
  background: var(--color-white);
  border: 1px solid var(--border-color);
  white-space: nowrap;
}

.profile-follow-btn {
  margin-top: 30px;
  padding: 6px 16px;
  font-size: 15px;
}

@media (max-width: 499px) {
  .profile-follow-btn {
    margin-top: 20px;
  }
}

/* sidebar-sp */
.sidebar-sp {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  /* background: var(--color-white); */
  opacity: 0.9;
  z-index: 100;
}

.sidebar-sp li {
  cursor: pointer;
}

@media (min-width: 500px) {
  .sidebar-sp {
    display: none;
  }
}

/* sidebar icon */

.side-sp-icon {
  font-size: 22px;
  width: 30px;
  text-align: center;
}

.bell-active {
  position: relative;
}

.bell-active::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: red;
}

/* main */
.main {
  flex: 1;
}
.main-container {
  margin: 20px 20px 30px;
  /* background: var(--gray-color-1); */
}
.sidebar-content {
  position: fixed;
  max-width: 310px;
}

.sidebar-content-2 {
  position: fixed;
  width: 310px;
}

.article {
  /* background: var(--primary-color); */
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.post-item img {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.user-avatar {
  width: 35px;
  height: 35px;
}

.user-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 499px) {
  .article {
    padding: 20px;
  }
}

.article p {
  min-height: 1em;
}

/*--------- 投稿画面 ----------- */
.form-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color-opacity);
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow-y: auto;
}
.form-container {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  max-width: 630px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .form-container {
    padding: 20px;
  }
}

.form-head {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 23px;
}

@media (max-width: 499px) {
  .form-head {
    font-size: 20px;
  }
}

.form-editor {
  margin-top: 10px;
}

.form-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: gray;
  cursor: pointer;
}
.form-submit {
  text-align: right;
  margin-top: 20px;
}
.form-button {
  cursor: pointer;
  padding: 8px 16px;
  max-width: 100%;
  border: none;
  color: var(--color-white);
  font-weight: bold;
  background: var(--primary-color);
  transition: all 0.5s;
}

.no-login-btn {
  width: 100%;
  margin-top: 15px;
}

.form-btn-radius {
  border-radius: 50px;
}

.form-button:hover {
  opacity: 0.8;
}

/* エディタースタイル */
.DraftEditor-root {
  margin-top: 10px;
}
.rdw-option-wrapper:not(:first-child) {
  display: none;
}
.rdw-image-modal-size {
  display: none;
}

.editorClassName {
  min-height: 200px;
}

.rdw-editor-toolbar {
  border: none;
}

.rdw-dropdown-wrapper {
  height: 20px;
}

.rdw-image-modal-btn {
  width: auto;
  padding: 0 10px;
  border-radius: 3px;
}

.rdw-image-modal-header-option {
  line-height: 1.2;
}

.rdw-image-modal-btn:disabled {
  background: var(--primary-color);
  color: var(--color-white);
}

.rdw-link-modal-btn {
  width: auto;
  padding: 0 10px;
  border-radius: 3px;
}

.rdw-link-modal {
  height: auto;
}

.rdw-link-modal-btn:disabled {
  background: var(--primary-color);
  color: var(--color-white);
}

.rdw-image-modal-header-option {
  font-size: 14px;
}
.rdw-link-modal-label {
  font-size: 14px;
}

.public-DraftStyleDefault-block {
  margin: 0;
}

/* モーダル背景スクロール無効 */
.over-hidden {
  overflow: hidden;
}

/* ログイン画面 */
.login-form {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  align-items: center;
}

.login-form-wrapper {
  width: 350px;
  max-width: 100%;
  padding: 20px 40px;
}

@media (max-width: 499px) {
  .login-form-wrapper {
    border: none;
  }
}

.login-submit {
  width: 100%;
  margin-top: 20px;
}

.form-logo {
  font-size: 30px;
}

.input-area {
  margin-top: 10px;
}

.input-area input {
  width: 100%;
  padding: 8px;
}

.input-area input:focus {
  border-color: transparent;
  outline: 2px solid var(--primary-color);
}

.sns-btn {
  color: var(--primary-color);
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.5s;
}

.sns-btn:hover {
  opacity: 0.7;
}

.sns-btn i {
  font-size: 22px;
}

.sns-btn button {
  margin-left: 10px;
}

.register-btn {
  border-top: 2px solid var(--border-color);
  transition: all 0.5s;
}

.register-btn:hover {
  opacity: 0.7;
}

.register-btn button {
  border: 1px solid var(--gray-color-4);
  color: var(--gray-color-4);
  padding: 10px;
}

/* ログインモーダル */
.login-form-container {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  padding: 40px;
  border-radius: 10px;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .login-form-container {
    padding: 40px 30px;
  }
}

/* .login-modal-form-wrapper {
  width: 90%;
  max-width: 350px;
  padding: 20px 40px;
} */

/* 詳細 */
.icon {
  cursor: pointer;
  color: var(--gray-color-4);
}
.icon:not(:first-child) {
  margin-left: 10px;
}

.count {
  font-size: 14px;
  padding-left: 3px;
}

/* 詳細のコメント */
.comment-txt {
  font-size: 14px;
  line-height: 1.3;
}

.point-three {
  font-size: 20px;
  color: var(--gray-color-4);
  transition: all 0.3s;
  border-radius: 50%;
  padding: 3px;
}
.point-three:hover {
  color: var(--primary-color);
  background: var(--sky-blue-opacity);
  box-shadow: 0 0 0 5px var(--sky-blue-opacity);
}
.handle-comment {
  position: relative;
  cursor: pointer;
}

.handle-comment_dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 101;
  padding: 5px 0;
  border-radius: 5px;
  background: var(--color-white);
  font-size: 13px;
  white-space: nowrap;
  width: 200px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.08);
}

.handle-comment_dropdown p {
  padding: 5px 10px;
}

.handle-comment_dropdown p:hover {
  background: var(--gray-color-1);
  cursor: pointer;
}

.user-name-head:hover {
  background: none !important;
  cursor: text !important;
}

/* .handle-comment:hover .handle-comment_dropdown {
  display: block;
} */

.comment-area {
  border-bottom: 1px solid var(--gray-color-2);
  width: 100%;
  font-size: 14px;
  overflow-y: hidden;
  resize: none;
  height: auto;
  margin-bottom: 10px;
}

.comment-area:focus {
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}

.add-comment-btn {
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 15px;
  transition: all 0.5s;
}

.comment-btn-primary {
  background: var(--primary-color);
  color: var(--color-white);
}

.comment-btn-white {
  border: 1px solid var(--border-color);
}

.comment-btn-red {
  border: 1px solid var(--border-color);
  color: var(--red-color);
}

.add-comment-btn:hover {
  opacity: 0.8;
}

.comment-user-name {
  font-size: 13px;
}

.comment-date {
  font-size: 13px;
  color: var(--gray-color-4);
}

/* ログインしてない時のトップ画面 */
.login-btn {
  margin-right: 20px;
  transition: all 0.5s;
}

@media (max-width: 559px) {
  .login-btn {
    font-size: 14px;
  }
}

.login-btn:hover {
  background: var(--primary-color);
  color: var(--color-white);
}

/* プロフィール */
.profile-avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.profile-avatar img {
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: default;
}

.profile-avatar img:hover {
  opacity: 1;
}

.user-id {
  font-size: 13px;
  color: var(--gray-color-4);
}

.profile-user-name {
  font-size: 22px;
  line-height: 1.3;
}

.profile-user-id {
  font-size: 14px;
  line-height: 1.2;
}

.stat-item {
  justify-content: center;
}

.stat-item li {
  width: 90px;
  cursor: pointer;
}

@media (max-width: 499px) {
  .stat-item {
    margin-top: 20px !important;
  }
  .stat-item li {
    width: 70px;
  }
}

.stat-item {
  font-size: 14px;
  color: var(--gray-color-4);
}

.stat-item li {
  transition: all 0.5s;
}

.stat-item li:hover {
  background: var(--gray-color-7-opacity);
}

.profile-description {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

@media (max-width: 767px) {
  .profile-description {
    margin-top: 20px;
  }
}

.profile-description p {
  max-width: 400px;
  font-size: 14px;
}

.edit-btn {
  margin-top: 30px;
  border-radius: 50px;
  font-size: 15px;
  padding: 8px 16px;
}

@media (max-width: 499px) {
  .edit-btn {
    margin-top: 20px;
  }
}

.articles-title {
  margin-bottom: -10px;
}

/* フォロー・フォロワーページ */
.follow-article {
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.follow-container:not(:last-child) {
  border-bottom: 1px var(--border-color) solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 499px) {
  .follow-container:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.follow-circle {
  width: 40px;
  height: 40px;
}

.follow-container {
  align-items: start;
}

@media (max-width: 319px) {
  .follow-container {
    display: block;
  }

  .mt-319 {
    margin-top: 10px;
  }
}

.follow-btn-wrapper {
  margin-top: 10px;
  text-align: right;
}

.follow-user-wrapper p {
  font-size: 14px;
}

/* stock-icon */
.stock-icon {
  font-size: 22px;
  color: var(--primary-color);
}

.stock-relative {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* ドロップダウン */
.stock-icon:hover + .dropdown-hover {
  display: block;
}

.dropdown-hover {
  position: absolute;
  top: 100%;
  right: 20px;
  background: var(--color-white);
  padding: 8px;
  border-radius: 4px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.08);
  display: none;
}

.dropdown-hover li {
  white-space: nowrap;
  font-size: 12px;
}

.user:hover .dropdown {
  display: block;
  cursor: pointer;
}

/* alert */
.flash-msg {
  background: var(--sky-blue);
  width: 600px;
  max-width: 90%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

p {
  word-break: break-all;
}

span {
  word-break: break-all;
}

/* footer */

.footer-list a {
  font-size: 12px;
  color: var(--gray-color-4);
}
.footer-list a:not(:first-child) {
  padding-left: 7px;
}

.footer-list p {
  font-size: 12px;
  color: var(--gray-color-4);
}

/* icons */
/* like */
.like-active {
  color: var(--pink-color);
}

.like-hover {
  transition: all 0.5s;
}

.like-hover:hover {
  color: var(--pink-color) !important;
}

/* comment */
.comment-hover {
  transition: all 0.5s;
}

.comment-hover:hover {
  color: var(--primary-color) !important;
}

/* profile */
.profile-form input {
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  margin-top: 3px;
}

.profile-form textarea {
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  margin-top: 3px;
  resize: none;
  min-height: 150px;
}

.profile-form input:focus,
textarea:focus {
  border-color: transparent;
  outline: 2px solid var(--primary-color);
}

.profile-form-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--gray-color-6);
}

.profile-form div {
  margin-top: 20px;
}

.avatar-edit-img {
  margin: 0 auto;
  max-width: 100px;
  position: relative;
}

.avatar-edit-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.avatar-upload {
  position: relative;
}

.avatar-upload::after {
  position: absolute;
  content: "\f044";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  bottom: 0;
  right: 0;
  font-size: 18px;
  background: var(--color-white);
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-container {
  top: 50%;
  transform: translate(-50%, -50%);
}

/* css優先的に */
.btn-hover-disabled {
  cursor: default;
}

.btn-hover-disabled:hover {
  opacity: 1;
}

/* エラーテキスト */
.error-txt {
  font-size: 13px;
  margin-top: 2px;
}

/* タブ */
.tab-active {
  position: relative;
  display: inline-block;
}

.tab-active::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  border-radius: 30px;
}

.tab-pointer h2 {
  cursor: pointer;
}

.no-post-profile-title {
  font-size: 15px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

/* 404ページ */
.title-404 {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1.3;
  text-align: center;
  margin-top: 30px;
}

.title-404 span {
  font-size: 60px;
}

.subtitle-404 {
  text-align: center;
}

@media (max-width: 499px) {
  .title-404 {
    font-size: clamp(20px, 5vw, 32px);
  }

  .title-404 span {
    font-size: clamp(50px, 5vw, 60px);
  }

  .subtitle-404 {
    font-size: 15px;
  }
}

/* 利用規約 */
.layout-no-sidebar {
  max-width: 1340px;
  margin: 55px auto 0;
  justify-content: space-between;
}
.container-no-sidebar {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container-no-sidebar {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.legal h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

.legal p {
  font-size: 15px;
  margin-top: 8px;
}

.legal h3 {
  font-weight: bold;
  font-size: 17px;
}
.legal ul {
  margin-top: 10px;
}

.legal li {
  margin-top: 3px;
}

.pt-legal {
  padding-top: 50px;
}

@media (max-width: 767px) {
  .pt-legal {
    padding-top: 30px;
  }
}

/* 学習ボタン */
.learn-button {
  cursor: pointer;
  padding: 6px 16px;
  max-width: 100%;
  font-weight: bold;
  transition: all 0.5s;
  border: 1px solid var(--border-color);
}

.learn-button:hover {
  background: var(--blue-color);
  color: var(--color-white);
}

.learn-button-active {
  background: var(--blue-color);
  color: var(--color-white);
}

/* 画像拡大処理 */
.image-max-bg {
  background: var(--black-color);
}

.image-max-bg-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.click-modal-icon {
  position: absolute;
  cursor: pointer;
}

.click-modal-icon-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--black-color-opacity);
}

.click-modal-icon-wrapper i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-close {
  right: 10px;
  top: 10px;
}

.arrow-icon {
  top: 50%;
  transform: translateY(-50%);
}

.image-max-next {
  right: 10px;
}

.image-max-prev {
  left: 10px;
}

.image-max {
  display: inline-block;
}

.image-modal-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
